{% load tr_tags %}
<article class="place-card">
  <div class="place-photo">
    {% if r.photo %}<img src="{{ r.photo }}" alt="{{ r.display_title }}">{% else %}<span class="ph">{% tr "Photo" %}</span>{% endif %}
    <span class="place-tag {{ r.badge_kind }}">{% tr r.badge_key %}</span>
  </div>
  <div class="place-body">
    <div class="place-title">{{ r.display_title }}</div>
    <div class="place-meta">
      <span class="place-loc">{% if r.location %}{{ r.location }}{% else %}{% tr r.room_type %}{% endif %}</span>
      <span class="place-rating">★ {{ r.rating }}</span>
    </div>
    <div class="place-cap">{% tr "Guests" %}: {{ r.capacity }} · {% tr r.room_type %}</div>
    <div class="place-foot">
      <div class="place-price">${{ r.price|floatformat:2 }} <small>{% tr "per night" %}</small></div>
      <a class="btn primary small" href="{% url 'reservations' %}?room={{ r.number }}{% if search.check_in %}&amp;check_in={{ search.check_in }}{% endif %}{% if search.check_out %}&amp;check_out={{ search.check_out }}{% endif %}">{% tr "Book" %}</a>
    </div>
  </div>
</article>
